@charset "UTF-8";

#perso-add-foto{
    display: block;

    border-radius: 50%;
    border: 2px solid white;

    width: 100px;
    height: 100px;
    margin: 30px;

    position: fixed;
    top: -3%;
}

#perso-add-foto:hover{
    cursor: pointer;
    background-color: #ffffff3d;
    transition: background-color 0.5s ;
}

#foto{
    background-image: url(perfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    border-radius: 50%;
    
    width: 102px;
    height: 102px;
    margin: 31px;
    position: fixed;
    top: -3%;
}

#container > #d4 > .btn-dado{
    border: 1px solid #ff0000;
    color: #ff6f6f;
}

#container > #d4 > .valor-dado{
    border: 1px solid #ff0000;
    color: #ff6f6f;
}

#container > #d6 > .btn-dado{
    border: 1px solid #ffa500;
    color: #ffcc6e;
}

#container > #d6 > .valor-dado{
    border: 1px solid #ffa500;
    color: #ffcc6e;
}

#container > #d8 > .btn-dado{
    border: 1px solid #ffff00;
    color: #ffff81;
}

#container > #d8 > .valor-dado{
    border: 1px solid #ffff00;
    color: #ffff81;
}

#container > #d10 > .btn-dado{
    border: 1px solid #3cff00;
    color: #8fff6d;
}

#container > #d10 > .valor-dado{
    border: 1px solid #3cff00;
    color: #8fff6d;
}

#container > #d12 > .btn-dado{
    border: 1px solid #0066ff;
    color: #4e95ff;
}

#container > #d12 > .valor-dado{
    border: 1px solid #0066ff;
    color: #4e95ff;
}

#container > #d20 > .btn-dado{
    border: 1px solid #ff00ea;
    color: #ff74f3;
}

#container > #d20 > .valor-dado{
    border: 1px solid #ff00ea;
    color: #ff74f3;
}


