@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

html{
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#dadosRolagem{
    position: fixed;
    top: 0%;
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#dadosTela{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 95vw;
    height: 95vh;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.932);
}

.container-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-foto-txt{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-foto-txt p{
    border-bottom: 1px solid #ffffff42;
    font-size: 25px;
    margin: 5px;
    width: max-content;
}

#foto{
    border: 3px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

#foto:hover{
    box-shadow: 0px 0px 10px 2px white;
    transition: box-shadow 1s;
}

#add-foto{
    display: none;
}

.perfil-btn-dado{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #1b1b1b;
    cursor: pointer;
}

.perfil-dado{
    display: block;
    border: 1px solid white;
    padding: 10px;
    font-size: 20px;
    line-height: 35px;
    background-color: #1f1f1fc4;
}

.perfil-dado span{
    margin-left: 5px;
}

.perfil-dado hr{
    margin: 10px;
}

.nome-idade{
    display: flex;
    justify-content: space-around;
}

.caract-fisicas{
    text-align: center;
}

.fisico-personalidade{
    display: flex;
    justify-content: space-around;
}

.perso{
    text-align: center;
}