@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Configurações gerais e resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';
}

input{
    border: none;
    outline: none;
    background-color: none;
}

textarea{
    border: none;
    outline: none;
    background-color: none;
    resize: none;
}

button{
    border: none;
    background-color: none;
    outline: none;
}

abbr{
    text-decoration: none;
}

html{
    background-color: black;
}

/*Menu dos dados*/
#btnDadoFora{
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#telaDado{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 95vw;
    height: 95vh;
    border: 1px solid white;
    background-color: #000000ee;
}

#btnDadoDentro{
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*Foto de perfil*/
.container-foto-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.add-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#addFoto{
    display: none;
}

#foto{
    border: 3px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#foto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px #ffffff3f;
    transition: box-shadow 0.3s;
}

/*Nome do personagem*/
.container-nome-persona{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#ipersonagem{
    min-width: 30%;
    padding: 2px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #ffffff67;
    font-size: 22px;
    text-align: center;
    resize: none;
}

/*Botão menu de informações*/
.container-menu-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#btnMenuInfo{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #474747;
    background-color: #000000;
}

#btnMenuInfo:hover{
    cursor: pointer;
    background-color: #ffffff;
    transform: scale(1.1);
    transition: transform 1s;
    box-shadow: 0px 0px 5px 1px #ffffff3f;
}

/*Menu de informações*/
#menuInfo{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 95vw;
    height: max-content;
    padding: 10px;
}

#menuInfo label{
    font-weight: 500;
    line-height: 2em;
}

#menuInfo input{
    width: min-content;
    margin-left: 5px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 300;
   
}

.jogador{
    display: flex;
    margin-left: 5px;
}

.container-fisico-info{
    display: flex;
    flex-direction: column;
}

.container-personalidade{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ipersonalidade{
    background-color: #000000;
    width: 95%;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
}

.container-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnArea{
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #474747;
    background-color: #000000;
}

.btnArea:hover{
    cursor: pointer;
    background-color: #ffffff;
    transform: scale(1.1);
    transition: transform 1s;
    box-shadow: 0px 0px 5px 1px #ffffff3f;
}

#ihistoria{
    background-color: #000000;
    width: 95%;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

/**/


